.box{
    width: 380px;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}
body{
    margin: 0;
    padding: 0;
    background-color:white;
    background-size: cover;
    background-repeat: no-repeat;
    font-family : Verdana,Tahoma, sans-serif;   
}
.logo{
    display:flex;
    width: 250px;
    height: 80px;
    margin: 5px;
    padding-left: 1074px;
}
.box img{
	width:100px;
    margin-top:-50px ;
}

.headerLS {
	width: 300px;
    height: 50px;
    text-transform: uppercase;
	display: inline-flex;
    padding-top: 20px;
    padding-bottom: 0;
	justify-content: space-between;
}

.headerLS a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
	display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
	justify-content: center;
    cursor:pointer;
}

.headerLS .active {
    color: #1abc9c;
	font-weight: bold;
	position: relative;
}

.headerLS .active:after {
	position: absolute;
    border: none;
	content: "";
}

#errorMsg{
    color:red;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;

}

.content{
    display: inline-flex;
    overflow: hidden;
}

form {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
	flex-shrink: 0;
	flex-direction: column;
	transition: right 0.5s;
}

.login a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

}

.extend form {
	right: 100%;
}

input[type=text], input[type=password], input[type=email]{
	display:block;
    position: relative;
	border: 4px solid #ffffff;
	padding: 12px;
    margin-bottom: 15px;
    width: 100%;
 	box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

input[type=text]:hover,  input[type=password]:hover, input[type=email]:hover{
    border: 4px solid #3ba585;

}

input[type=submit]{
    display:block;
    position: relative;
    border: 3px solid #3ba585;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 25px;
    background-color:#3ba585 ;
    text-align:center;
    font-size: 20px;
    color: #ffffff;
	cursor:pointer;
    outline: none;
}
	
input[type=submit]:hover{
	 background-color:#ffffff;
     color: #000000;
     font-weight: bold;
}
input[type=checkbox]{
    background-color:#3ba585;
}
#check{
    margin-top: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}
#back{
    width: 85px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    box-shadow: 1px 1px 1px 2px rgba(43, 43, 77, 0.5);
    border-radius: 10px;
    margin: 20px 9px 20px 9px;
    background-color:#62a598;
    color: white;
    display: flex; 
}