/* .productss{
    display: flex;
    flex-wrap: wrap;
}
.product1{
    padding:2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
}
.product2{
    padding:2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
}
.product3{
    padding:2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
}
.product4{
    padding:2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
    flex: 1 16%;
}
.product1-image img{
    max-width: 100%;
}
.product2-image img{
    max-width: 100%;
}
.product3-image img{
    max-width: 100%;
}
.product4-image img{
    max-width: 100%;
}
.product1-info{
    margin-top: auto;
}
.product2-info{
    margin-top: auto;
}

.product3-info{
    margin-top: auto;
}

.product4-info{
    margin-top: auto;
}

@media (max-width: 920px){
    .product1{
        flex: 1 21%
    }
    .product2{
        flex: 1 21%
    }
    .product3{
        flex: 1 21%
    }
    .product4{
        flex: 1 21%
    }
}

.footer{
    width:100%;
    display:flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color:grey;
}

.footer a{
color:white;
text-decoration:none;
cursor: pointer;
}
.footer p:hover{
transition: all .2s linear;
transform: translateX(4px);
}
.footer a:hover{
color: #14af81;
}
.footer-items{
margin-right: 1rem;
}
.footer-items ul{
display: flex;
justify-content: space-around;
list-style: none;
}
.footer-items li{
margin-right: 1rem;
}
.footer-items_social ul li{
font-size:1.2rem;
cursor: pointer;
transition: all .2s linear;

}

.footer-items_social ul li:hover{
color: #14af81;
transform: scale(1.1);
transition: all .2s linear;
}


@media screen and(max-width:320px){
.footer{
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;
}
} */
