*{
    box-sizing: border-box;
}

.logo{
    display: block;
    width: 250px;
    height: 80px;
    margin: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header{
    padding: 90 px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

header.h1{
    font-size: 50 px;
}

.navbar{
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 10px;
    
}

.navbar a{
    width: 50 px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    box-shadow: 1px 1px 1px 2px rgba(43, 43, 77, 0.5);
    border-radius: 13px;
    margin: 5px 3px 5px 3px;
    background-color:#62a598;
    color: white;
    display: flex;
    
}

.navbar a:hover{
    background-color:rgb(165, 223, 203);
    color: white;
}

.right{
    float: right;
}

.images{
    margin-left: 40px;
    margin-right: 15px;
    flex-basis: 150px;
    justify-content: center;
    align-content: center;
    align-items:center;
    
    
}

#quote{
    color:brown;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.products{
    margin-left: 25px;
    margin-right: 35px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    margin-bottom: 40px;
}
.products img{
    width: 100%;
    margin-bottom: 20px;
}
.products h4{
    margin-bottom: 5px;
}
img:hover{
    opacity: .5;
    transition: .9s;
}

#back{
    width: 85px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    box-shadow: 1px 1px 1px 2px rgba(43, 43, 77, 0.5);
    border-radius: 10px;
    margin: 20px 9px 20px 9px;
    background-color:#62a598;
    color: white;
     
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.main{
    margin-left: 25px;
    margin-right: 35px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}
.main img{
    width: 100%;
    margin-bottom: 20px;
}
.main1{
    margin-left: 25px;
    margin-right: 35px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}
.main1 img{
    width: 100%;
    margin-bottom: 20px;
}
.main2{
    margin-left: 25px;
    margin-right: 35px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}
.main2 img{
    width: 100%;
    margin-bottom: 20px;
}
.main3{
    margin-left: 25px;
    margin-right: 35px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}
.main3 img{
    width: 100%;
    margin-bottom: 20px;
}

img:hover{
    opacity: .5;
    transition: .9s;
}
.slide{
    padding: 40px;
    display: flex;
}
#slider{
    width: 75%;
    height: 470px;
    padding: 50px;
    margin-left: 153px;
}
.row h1{
    text-align:left;
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer{
    width:100%;
    display:flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color:grey;
}

.footer a{
color:white;
text-decoration:none;
cursor: pointer;
}
.footer p:hover{
transition: all .2s linear;
transform: translateX(4px);
}
.footer a:hover{
color: black;
}
.footer-items{
margin-right: 1rem;
}
.footer-items ul{
display: flex;
justify-content: space-around;
list-style: none;
}
.footer-items li{
margin-right: 1rem;
}
.footer-items_social ul li{
font-size:1.2rem;
cursor: pointer;
transition: all .2s linear;

}

.footer-items_social ul li:hover{
color: #14af81;
transform: scale(1.1);
transition: all .2s linear;
}


@media screen and(max-width:320px){
.footer{
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;
}
}